* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
  max-width: 100%;
}

.footerimg {
  margin-top: 2rem;
  margin-left: 2rem;
}

.speaker2-hr {
  font-weight: bold;
  width: 3rem;
  border: 1px solid red;
}

.speaker1-hr {
  font-weight: bold;
  width: 3rem;
  margin-top: 1rem;
  border: 1px solid red;
}

.hamburgerimage {
  display: flex;
  position: fixed;
  width: 10%;
}

.about-logo img {
  width: 10rem;
}

.about-logo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 2rem;
}

.footer-logo {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

@media screen and (min-width: 768px) {
  .hamburgerimage {
    display: none;
  }

  .hamburgerimage2 {
    display: none;
  }

  .pop {
    display: none;
  }

  .logodiv {
    display: flex;
    color: white;
    min-width: 768px;
    width: 100%;
    background: black;
  }

  .headercontent {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 2rem;
    gap: 2rem;
    list-style: none;
    margin-top: 0.5rem;
    margin-left: 55%;
    position: fixed;
    background: black;
  }
}
